.refreshButton {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--restart-button-size);
    color: var(--restart-button-color);
    text-shadow: -1px 0 var(--restart-button-outline-color),
        0 1px var(--restart-button-outline-color),
        1px 0 var(--restart-button-outline-color),
        0 -1px var(--restart-button-outline-color);
    transition: all 0.1s ease-in-out;
}

@media (pointer: fine) {
    .refreshButton:hover {
        color: var(--restart-button-color-hover);
        transform: rotate(45deg);
    }
}
