.main {
    height: calc(100% - var(--nav-height));
    padding-inline: var(--padding-inline-large);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    background-color: rgb(var(--background-color-rgb));

    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    left: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(var(--background-color-rgb));
    -webkit-box-shadow: var(--circle-box-shadow);
    box-shadow: var(--circle-box-shadow);
    z-index: 0;
}

.topLeft {
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bottomLeft {
    bottom: 0;
    -webkit-transform: translate(-70%, 70%) rotate(-80deg);
    transform: translate(-70%, 70%) rotate(-80deg);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding-inline: var(--padding-inline-large);
    z-index: 1;
}

.providerContainer {
    margin-block: var(--padding-block-large);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-large);
}

.button {
    border: none;
    outline: none;
    background-color: rgb(var(--background-color-rgb));
    box-shadow: var(--button-box-shadow);
    height: 3rem;
    cursor: pointer;
    width: 100%;
    color: rgb(var(--text-color-rgb));
    border-radius: 1.2rem;
}

.providerContainer button:hover {
    -webkit-box-shadow: var(--button-box-shadow-hover);
    box-shadow: var(--button-box-shadow-hover);
}

.submit {
    margin-block: var(--padding-block-medium);
    color: rgb(var(--text-color-rgb));
}

.line {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-end: var(--padding-block-medium);
}

.line hr {
    width: 40%;
    border: 1px solid transparent;
    border-top: 1px solid rgb(var(--text-color-rgb));
}

.image {
    position: absolute;
    left: 0.5rem;
    top: calc(2rem - 4px);
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-block-start: var(--padding-block-large);
    margin-block-end: var(--padding-block-large);
    text-align: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

@media screen and (max-width: 600px) {
    .main {
        align-items: flex-start;
        padding-block-start: var(--padding-block-large);
    }
    .circle {
        width: 12rem;
        height: 12rem;
    }
}

.logo {
    font-size: 1.2rem;
    color: grey;
}
