.main {
    width: 100%;
    max-width: var(--max-width);
    position: relative;
    overflow: hidden;
}

.main:focus {
    outline: none;
}

.textArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--row-height);
    column-gap: 0.5rem;
    justify-content: var(--passage-text-align);
    transition: all 0.2s ease-in;
}

.textContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    row-gap: var(--row-height);
    column-gap: 0.5rem;
    justify-content: var(--passage-text-align);
    height: calc(3 * var(--row-height) + 3 * var(--row-height));
    position: relative;
    padding-block-start: calc(0.3 * var(--row-height));
    overflow: hidden;
}

.textContainer .invisibleInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.textContainer .word {
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    position: relative;
    align-items: center;
    height: var(--row-height);
}

.textContainer .extraWord {
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    position: relative;
    align-items: center;
    height: var(--row-height);
}

.textContainer .letter {
    position: relative;
    font-size: var(--passage-font-size);
    padding-inline: var(--letter-spacing);
}

.default {
    color: var(--passage-text-color);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.correct {
    color: var(--correct-letter-color);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.incorrect {
    color: var(--incorrect-letter-color);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.extra {
    color: var(--extra-letter-color);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.cursor {
    background-color: var(--cursor-color);
    width: var(--cursor-width);
    height: 1.5rem;
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    animation: blink var(--cursor-blink-speed) infinite;
    z-index: 1;
}

@media (max-width: 768px) {
    .textContainer .letter {
        font-size: calc(var(--passage-font-size) * 0.8);
    }
}

@media (max-width: 425px) {
    .textContainer .letter {
        font-size: calc(var(--passage-font-size) * 0.6);
        letter-spacing: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
