.main {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
    position: relative;
    padding-inline: var(--padding-inline-xlarge);
    padding-block: var(--padding-block-large);
    background-color: rgb(var(--background-color-rgb));
    -webkit-box-shadow: var(--inset-box-shadow);
    box-shadow: var(--inset-box-shadow);
    border-radius: 1.2rem;
}

.mainOptions {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
    width: 100%;
    
}

.mainOptions button {
    border: none;
    background-color: transparent;
    color: rgb(var(--text-color-rgb));
    cursor: pointer;
    font-size: var(--font-size-large);
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-medium);
}

.activeButton {
    box-shadow: var(--inset-box-shadow);
    border-radius: 1.2rem;
}

.subOptions {
    display: flex;
    gap: var(--gap-medium);
}

.subButton {
    border: none;
    background-color: transparent;
    color: rgb(var(--text-color-rgb));
    cursor: pointer;
    font-size: var(--font-size-medium);

    outline: none;
    background-color: rgb(var(--background-color-rgb));
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.activeSubButton {
    border: none;
    background-color: transparent;
    color: rgb(var(--text-color-rgb));
    cursor: pointer;
    font-size: var(--font-size-medium);

    border: none;
    outline: none;
    background-color: rgb(var(--background-color-rgb));
    -webkit-box-shadow: var(--button-box-shadow);
    box-shadow: var(--button-box-shadow-hover);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
