.main {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainOptions {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
    width: 100%;
}

.mainOptions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--font-size-xlarge);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.inactiveButton {
    color: var(--passage-text-color);
}

.activeButton {
    color: var(--accent-color-primary);
}

.subOptions {
    display: flex;
    gap: var(--gap-medium);
}

.subOptions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--font-size-large);
    text-shadow: -1px 0 var(--text-outline-color),
        0 1px var(--text-outline-color), 1px 0 var(--text-outline-color),
        0 -1px var(--text-outline-color);
}

.activeSubButton {
    color: var(--accent-color-primary);
}

.inactiveSubButton {
    color: var(--passage-text-color);
}
