:root {
    --max-width: 1200px;
    --doc-height: 100%;
    --nav-height: 60px;
    --passage-text-align: center;
    --passage-font-size: 1.5rem;
    --row-height: 1.5rem;
    --border-radius: 15px;
    --background-color-rgb: 240, 240, 240;
    --text-color-rgb: 41, 41, 41;
    --accent-color-primary-rgb: 250, 243, 62;
    --accent-color-light-1-rgb: 214, 248, 214;
    --accent-color-light-2-rgb: 127, 198, 164;
    --accent-color-dark-1-rgb: 93, 115, 126;
    --accent-color-dark-2-rgb: 85, 80, 92;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-x2large: 2rem;
    --font-size-x3large: 3rem;
    --padding-inline-small: 0.5rem;
    --padding-inline-medium: 1rem;
    --padding-inline-large: 1.5rem;
    --padding-inline-xlarge: 2rem;
    --padding-inline-x2large: 4rem;
    --padding-block-small: 0.5rem;
    --padding-block-medium: 1rem;
    --padding-block-large: 2rem;
    --padding-block-xlarge: 4rem;
    --padding-block-x2large: 8rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;
    --card-box-shadow: 0 0 20px 10px rgb(var(--text-color-rgb), 0.2);
    --top-left-box-shadow: 1rem 1rem 1rem 0.1rem #d1d9e6,
        -0.5rem -0.5rem 1rem 0.1rem #fff;
    --inset-box-shadow: inset 0.2rem 0.2rem 0.4rem 0.1rem #d1d9e6,
        inset -0.4rem -0.4rem 0.4rem 0.1rem #fff;
    --inset-box-shadow-hover: inset 0.4rem 0.4rem 0.4rem 0.1rem #d1d9e6,
        inset -0.4rem -0.4rem 0.4rem 0.1rem #fff;
    --circle-box-shadow: 0.4rem 0.4rem 0.8rem 0.1rem #d1d9e6;
    --button-box-shadow: 0.3rem 0.3rem 0.6rem 0.1rem #d1d9e6,
        -0.3rem -0.3rem 0.6rem 0.1rem #fff;
    --button-box-shadow-hover: inset 0.3rem 0.3rem 0.6rem 0.1rem #d1d9e6,
        inset -0.3rem -0.3rem 0.6rem 0.1rem #fff;

    --correct-letter-color: rgb(var(--accent-color-light-2-rgb));
    --incorrect-letter-color: rgb(219, 109, 109);
}

:root.font-small {
    --passage-font-size: 1rem;
    --row-height: 1rem;
}

:root.font-medium {
    --passage-font-size: 1.5rem;
    --row-height: 1.5rem;
}

:root.font-large {
    --passage-font-size: 2rem;
    --row-height: 2rem;
}

:root.dark-theme {
    --background-color-rgb: 41, 41, 41;
    --text-color-rgb: 240, 240, 240;
    --card-box-shadow: 0 0 20px 10px rgb(var(--background-color-rgb), 0.1);
    --top-left-box-shadow: 1rem 1rem 1rem 0.1rem #000,
        -0.5rem -0.5rem 1rem 0.1rem rgb(46, 46, 46);
    --inset-box-shadow: inset 0.2rem 0.2rem 0.4rem 0.1rem #000,
        inset -0.4rem -0.4rem 0.4rem 0.1rem rgb(46, 46, 46);
    --inset-box-shadow-hover: inset 0.4rem 0.4rem 0.4rem 0.1rem #000000,
        inset -0.4rem -0.4rem 0.4rem 0.1rem rgb(46, 46, 46);
    --circle-box-shadow: 0.4rem 0.4rem 0.8rem 0.1rem rgb(46, 46, 46);
    --button-box-shadow: 0.3rem 0.3rem 0.6rem 0.1rem rgb(46, 46, 46),
        -0.3rem -0.3rem 0.6rem 0.1rem rgb(0, 0, 0);
    --button-box-shadow-hover: inset 0.3rem 0.3rem 0.6rem 0.1rem rgb(46, 46, 46),
        inset -0.3rem -0.3rem 0.6rem 0.1rem rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    color: rgb(var(--text-color-rgb));
    background-color: rgb(var(--background-color-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}
