:root {
    --max-width: 1200px;
    --doc-height: 100%;
    --nav-height: 60px;
    --border-radius: 15px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --background-color-rgb: 240, 240, 240;
    --text-color-rgb: 41, 41, 41;
    --accent-color-primary-rgb: 250, 243, 62;
    --accent-color-light-1-rgb: 214, 248, 214;
    --accent-color-light-2-rgb: 127, 198, 164;
    --accent-color-dark-1-rgb: 93, 115, 126;
    --accent-color-dark-2-rgb: 85, 80, 92;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-x2large: 2rem;
    --font-size-x3large: 3rem;
    --padding-inline-small: 0.5rem;
    --padding-inline-medium: 1rem;
    --padding-inline-large: 1.5rem;
    --padding-inline-xlarge: 2rem;
    --padding-block-small: 0.5rem;
    --padding-block-medium: 1rem;
    --padding-block-large: 2rem;
    --padding-block-xlarge: 4rem;
    --padding-block-x2large: 8rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;
    --card-box-shadow: 0 0 20px 10px rgb(var(--text-color-rgb), 0.2);
    /*easy to read font that looks pretty*/
    --font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root.dark-theme {
    --background-color-rgb: 41, 41, 41;
    --text-color-rgb: 240, 240, 240;
    --card-box-shadow: 0 0 20px 10px rgb(var(--background-color-rgb), 0.1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-color-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}
